.button {
    height: 40px;
    padding: 8px 20px;
    /*width: 150px;*/
    border-radius: 20px;
    font-size: 18px;
    background: var(--orangeWhite);
    color: var(--orange);
    font-weight: 500;
    transition: 0.4s;
}

.button:hover {
    background: var(--orangeLight);
    box-shadow: 0 0 2px 2px var(--orangeLight);
}

.buttonAuth {
    height: 40px;
    padding: 8px 20px;
    /*width: 150px;*/
    border-radius: 20px;
    font-size: 18px;
    background: var(--grayLight);
    color: var(--black);
    font-weight: 500;
    transition: 0.4s;
}

.buttonAuth:hover {
    background: var(--grayMedium);
    color: var(--gray);
    box-shadow: 0 0 2px 2px var(--grayMedium);
}

.buttonShop {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    height: 40px;
    padding: 8px 20px;
    /*width: 150px;*/
    border-radius: 20px;
    font-size: 18px;
    background: var(--orange);
    color: var(--white);
    font-weight: 500;
    transition: 0.4s;
}

.buttonContainer {
    position: relative;
    width: 30px;
}

.separator {
    height: 40px;
}

.shopIcon {
    position: absolute;
    right: 0;
    opacity: 0;
    transition: 0.5s;
    width: 30px;
}
.shopItem {
    position: absolute;
    right: 0;
    /*right: 30px;*/
    opacity: 1;
    transition: 0.3s;
    width: 30px;
}

.buttonShop:hover {
    padding: 8px 20px;
    background: var(--orangeDark);
    box-shadow: 0 0 2px 2px var(--orangeDark);
}

.buttonShop:hover .shopIcon {
    opacity: 1;
}
.buttonShop:hover .shopItem {
    opacity: 0;
}

.combineButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    /*padding: 8px 20px;*/
    /*width: 150px;*/
    gap: 10px;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 700;
    transition: 0.4s;
}

.combineButton > button {
    height: 38px;
    width: 38px;
    border-radius: 50%;
    font-weight: 900;
    background: var(--orangeWhite);
    color: var(--orange);
    transition: 0.4s;
}

.combineButton > button:hover {
    background: var(--orangeLight);
    box-shadow: 0 0 2px 2px var(--orangeLight);
}

.buttonOrder {
    height: 40px;
    /*padding: 8px 20px;*/
    width: 100%;
    border-radius: 20px;
    font-size: 18px;
    background: var(--orange);
    color: var(--white);
    font-weight: 500;
    transition: 0.4s;
    margin: 10px 0 0 0;
}

.buttonOrder:hover {
    /*padding: 8px 20px;*/
    background: var(--orangeDark);
    box-shadow: 0 0 2px 2px var(--orangeDark);
}

@media screen and (min-width: 334px) and (max-width: 500px) {
    .button {
        height: 30px;
        padding: 4px 10px;
        font-size: 16px;
    }
    .combineButton {
        height: 30px;
        font-size: 19px;
    }
    .combineButton > button {
        height: 26px;
        width: 26px;
        font-weight: 700;
    }
    .buttonShop {
        gap: 8px;
        padding: 8px 12px;
    }
}

@media screen and (min-width: 200px) and (max-width: 334px) {
    .button {
        height: 26px;
        padding: 2px 6px;
        font-size: 15px;
    }
    .combineButton {
        font-size: 18px;
        gap: 4px;
    }
    .combineButton > button {
        height: 25px;
        width: 25px;
        font-weight: 700;
    }
    .buttonShop {
        gap: 4px;
        padding: 8px 8px;
        font-size: 14px;
        height: 34px;
    }
    .buttonContainer {
        width: 17px;
    }
}