.mainContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 430px;
    width: 285px;
    border-radius: 15px;
    gap: 13px;
    /*padding: 25px;*/
    padding: 2% 1%;
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;
    max-width: 25%;
    /*min-width: 430px;*/
}

.containerImage {
    height: 260px;
    width: 100%;
    background: var(--orangeWhite);
    box-shadow: inset 0 0 5px 5px white;
    border-radius: 15px;
}
.image {
    object-fit: contain;
    /*width: 100% !important;*/
    position: relative !important;
    /*height: unset !important;*/
}
.containerText {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 100px;
    gap: 10px;
    padding: 0 10px;
}

.title {
    height: 30px;
    font-size: 30px;
    font-weight: 700;
}

.description {
    height: 63px;
    font-size: 16px;
}

.cost {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-weight: 700;
}

.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 42px;
    padding: 0 10px;
}