.mainContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 470px;
    width: 285px;
    border-radius: 15px;
    gap: 13px;
    /*padding: 25px;*/
    padding: 2% 1%;
    box-sizing: border-box;
    /*flex-grow: 0;*/
    /*flex-shrink: 0;*/
    /*flex-basis: 25%;*/
    /*max-width: 25%;*/
    min-width: 350px;
}

.containerModal {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.containerImageModal {
    position: relative;
    height: 100%;
    width: 70%;
    /*background: var(--orangeWhite);*/
    /*border-radius: 8px;*/
    /*box-shadow: inset 0 0 10px 0px white;*/
}

.imageModal {
    object-fit: contain;
    /*width: 100% !important;*/
    position: relative !important;
}

.containerModalDetails {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.containerDescription {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text {
    display: flex;
    flex-direction: column;
    font-size: 20px
}

.footerModal {
    display: flex;
    justify-content: center;
    align-items: center;
    /*position: absolute;*/
    /*bottom: 0;*/
    width: 30%;
    gap: 50px;
}

.containerItem {
    width: 350px;
}

.containerImage {
    position: relative;
    height: 260px;
    width: 100%;
    background: var(--orangeWhite);
    box-shadow: inset 0 0 5px 5px white;
    border-radius: 15px;
}
.image {
    object-fit: contain;
    /*width: 100% !important;*/
    position: relative !important;
    /*height: unset !important;*/
}
.containerText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 140px;
    gap: 10px;
    padding: 0 10px;
}

.title {
    text-wrap: nowrap;
    height: 30px;
    font-size: 30px;
    font-weight: 700;
}

.longTitle {
    letter-spacing: -2px;
}

.description {
    height: 63px;
    font-size: 16px;
}

.cost {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-weight: 700;
}

.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 42px;
    padding: 0 10px;
}
@media screen and (max-width: 1330px) {
    .mainContainer {
        min-width: 300px;
        width: 300px;
        height: 500px;
    }
    .containerText {
        height: 180px;
    }
    .containerItem {
        width: 300px;
    }
}
@media screen and (max-width: 1142px) {
    .mainContainer {
        min-width: 270px;
        width: 270px;
    }
    .containerItem {
        width: 270px;
    }
}
@media screen and (max-width: 1000px) {
    .containerModal {
        flex-direction: column;
        overflow-y: auto;
    }
    .containerModalDetails {
        width: 100%;
    }
}
@media screen and (max-width: 844px) {
    .mainContainer {
        min-width: 230px;
        width: 230px;
        height: 470px;
    }
    .containerText {
        height: 190px;
    }
    .containerItem {
        width: 230px;
    }
    .containerImage {
        height: 230px;
    }
    .title {
        height: 14px;
        font-size: 22px;
    }
    .containerImageModal {
        width: 100%;
    }
}

@media screen and (max-width: 490px) {
    .mainContainer {
        min-width: 160px;
        width: 160px;
        height: 425px;
    }
    .containerItem {
        width: 160px;
    }
    .containerImage {
        height: 160px;
    }
    .containerText {
        height: 230px;
    }
    .container {
        padding: 0;
    }
    .cost {
        font-size: 15px;
    }
    .text {
        font-size: 14px;
    }
    .title {
        text-wrap: wrap;
        height: auto;
        font-size: 20px;
    }
    .description {
        font-size: 14px;
    }
}

@media screen and (max-width: 334px) {
    .mainContainer {
        min-width: 140px;
        width: 140px;
        height: 425px;
    }
    .containerText {
        height: 237px;
    }
    .containerItem {
        width: 140px;
    }
    .containerImage {
        height: 140px;
    }
    .container {
        padding: 0;
    }
    .cost {
        font-size: 15px;
    }
    .text {
        font-size: 14px;
    }
    .title {
        text-wrap: wrap;
        height: auto;
        font-size: 20px;
    }
    .description {
        font-size: 13px;
    }
}
