.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 30px;
    /*border-bottom: 1px solid var(--grayLight);*/
    font-size: 22px;
}

.left {

}
.right {
}