.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;
    z-index: 10;
    /*transform: scale(0);*/
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;
    width: 70px;
    color: var(--gray);
    z-index: 100;
    transition: 0.3s;
}
.close:hover {
    color: var(--redLight);
}

.modal.active {
    opacity: 1;
    /*transform: scale(1);*/
    pointer-events: all;
}

.modalContent {
    padding: 20px;
    border-radius: 12px;
    background: white;
    height: 66vh;
    /*width: 200px;*/
    width: 66vw;
    transform: scale(0.5);
    transition: 0.3s;
    overflow-y: auto;
}

.modalContent.active {
    transform: scale(1);
}

@media screen and (max-width: 1570px) {
    .modalContent  {
        height: 66vh;
        width: 66vw;
    }
}
@media screen and (max-width: 1260px) {
    .modalContent  {
        height: 70vh;
        width: 70vw;
    }
}


